{% extends 'mainapp/comtwo.html' %}
{% block content %}  
<div data-role="page">
  <div class="container">
      {% comment %} <header class="hd">
          <div class="left-button">
              <i class="fas fa-portrait"></i>
          </div>
          <div class="center-button">
              <i class="fas fa-stroopwafel"></i>
          </div>
          <div class="right-button">
              <i class="fas fa-utensils"></i>
          </div>
      </header> {% endcomment %}

      <div class="content_detail">
        <div class="detail_imgbox">
        <div class="back_button"><i class="fas fa-times"></i></div>
        <img class="detail_img" src="{{ Restaurant.r_img }}" alt=""></p>
        </div>
        <div class="detail_title">
          <div class="r_name">{{ Restaurant.r_name }} 
          <span id="detail_dis"> km</span></div>
          <div class="detail_script">
            <div class="r_kind"><i class="fas fa-utensils"></i> {{ Restaurant.r_kind }}</div>
            <div class="address"><i class="fas fa-map-marker-alt"></i> {{ Restaurant.address }}</div>
            <div class="closetime"><i class="far fa-clock"></i> {{ Restaurant.closetime }}</div>
            <div class="number"><i class="fas fa-phone-alt"></i> {{ Restaurant.number }}</div>
        </div>
      </div>
        <hr>
        <div class="detail_map"><br>카카오 지도</div>

        
  </div>

<!-- jTinder -->
<script type="text/javascript" src="/static/mainapp/js/jquery.transform2d.js"></script>
<!-- jTinder lib -->
<script type="text/javascript" src="/static/mainapp/js/jquery.jTinder.js"></script>
<script type="text/javascript" src="/static/mainapp/js/main.js"></script>

<script>
// button direction
$(".right-button").on("click", function() {
$.mobile.changePage("/swipe/like/", {
  allowSamePageTransition : true,
  transition: "slide",
  type: "get",
  showLoadMsg: false,
  reloadPage: true
});
});


$(".left-button").on("click", function() {
$.mobile.changePage("/swipe/mypage/", {
  allowSamePageTransition : true,
  transition: "slide",
  reverse: true,
  type: "get",
  showLoadMsg: false,
  reloadPage: true
});
});


$(".center-button").on("click", function() {
$.mobile.changePage("/swipe/", {
  allowSamePageTransition : true,
  transition: "fade",
  type: "get",
  showLoadMsg: false,
  reloadPage: true
});
});
</script>
<script>
$(".back_button").on("click", function() {
  parent.history.back();
  return false;
});
</script>

<script>
  
  $j311
    .ajax({
      url: '/swipe/distance/',
      type: 'GET',
      data: {
        "latitude": 37.5015724,
        "longitude": 127.0393363
      },
      success: function (dis) {
        var detail_dis = dis[{{ Restaurant.id }}].fields.distance + 'km';
        document.getElementById("detail_dis").innerHTML=detail_dis;
      }//success
  });//ajax

</script>

{% endblock %}