{% extends 'mainapp/comtwo.html' %}
{% block content %}  
<div data-role="page">
  <div class="container">
      <header class="hd">
          <div class="left-button">
              <i class="fas fa-portrait"></i>
          </div>
          <div class="center-button">
              <i class="fas fa-stroopwafel"></i>
          </div>
          <div class="right-button">
              <i class="fas fa-utensils"></i>
          </div>
      </header>

      <div class="content_detail">
        <div class="detail_imgbox">
        <img class="detail_img" src="{{ Restaurant.r_img }}" alt=""></p>
        </div>
        <p>{{ Restaurant.r_name }}</p>
        <p>{{ Restaurant.r_kind }}</p>
        <p>{{ Restaurant.des }}</p>
        <p>{{ Restaurant.address }}</p>
        <p>{{ Restaurant.closetime }}</p> 
        <p>{{ Restaurant.number }}</p>
        
  </div>

<!-- jTinder -->
<script type="text/javascript" src="/static/mainapp/js/jquery.transform2d.js"></script>
<!-- jTinder lib -->
<script type="text/javascript" src="/static/mainapp/js/jquery.jTinder.js"></script>
<script type="text/javascript" src="/static/mainapp/js/main.js"></script>

<script>
// button direction
$(".right-button").on("click", function() {
$.mobile.changePage("/swipe/like/", {
  allowSamePageTransition : true,
  transition: "slide",
  type: "get",
  showLoadMsg: false,
  reloadPage: true
});
});


$(".left-button").on("click", function() {
$.mobile.changePage("/swipe/mypage/", {
  allowSamePageTransition : true,
  transition: "slide",
  reverse: true,
  type: "get",
  showLoadMsg: false,
  reloadPage: true
});
});


$(".center-button").on("click", function() {
$.mobile.changePage("/swipe/", {
  allowSamePageTransition : true,
  transition: "fade",
  type: "get",
  showLoadMsg: false,
  reloadPage: true
});
});
</script>

{% endblock %}