{% extends 'mainapp/common.html' %}
{% block content %}

<!-- Masthead -->
<div class="container">
  {% comment %} <header class="hd">
      <div class="left-button">
          <i class="fas fa-portrait"></i>
      </div>
      <div class="center-button">
          <i class="fas fa-stroopwafel"></i>
      </div>
      <div class="right-button">
          <i class="fas fa-utensils"></i>
      </div>
  </header> {% endcomment %}

<div class="content">
  <div class="main_box">
    <div class="logo_box">
      <i class="fas fa-drumstick-bite"></i>
      <h2>fooddeuk</h2>
    {% comment %} <img id="logo" src="/static/mainapp/img/logo.png" alt="fooddeuk"> {% endcomment %}
    </div>
  </div>
  <div class="login_btn">
    <button class="sign_btn" id="signin" onclick="move_signin()">로그인</button>
    <button class="sign_btn" id="signup"onclick="move_signup()">회원가입</button>
</div>
</div>

    
<script>
  function move_signin() {
    location = 'signin/'
  }
  function move_signup() {
    location = 'signup/'
  }
</script>
{% endblock %}