{% extends 'mainapp/comtwo.html' %}
{% block content %}  
<div data-role="page">
    <div class="container">
        <!-- header -->
        <header class="hd">
            <div class="hd_item">
                <div class="left-button">
                    <i class="fas fa-stroopwafel"></i>
                </div>
                <div class="center-button">
                </div>
                <div class="right-button">
                </div>
            </div>
        </header>

        <div class="content_like">
            <ul>
                <span class="like_day">Today</span>
                <div class="like_list_container">
                    
                    <!-- <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 1</div>
                    </li> -->
                    
                </div>
            </ul>
        </div>
    </div>

<script>
$(".left-button").on("click", function() {
  $.mobile.changePage("/swipe/", {
    allowSamePageTransition : true,
    transition: "slide",
    reverse: true,
    type: "get",
    showLoadMsg: false,
    reloadPage: true
  });
});
</script>

<script>
        $j311
          .ajax({
            url: '/swipe/load_likeornot/',
            type: 'GET',
            data: {
              "latitude": 37.5015724,
              "longitude": 127.0393363
            },
            success: function (likeres) {
  
              var html = "";
              var shtml = "";
  
              // 				res[0~9].id/title/latitude/longitude


              for (var i = likeres.length - 1; i > likeres.length - 9; i--) {
                html += '<li class ="like_element">'
                html += '<a href="/swipe/detail/1">'
                html += '<img class="img-fluid" src="'
                html += likeres[i].fields.r_img
                html += '" alt="">'
                html += '</a>'
                html += '</li>'
            }//for
            $('.like_list_container').append(html);
            
          }//success
        });//ajax
    
  </script>

</div>

{% endblock %}