{% extends 'mainapp/comtwo.html' %}
{% block content %}  
<body>
    <div class="container">
        <!-- header -->
        <header class="hd">
            <div class="hd_item">
                <div class="left-button">
                    <i class="fas fa-stroopwafel"></i>
                </div>
                <div class="center-button">
                </div>
                <div class="right-button">
                </div>
            </div>
        </header>

        <div class="content_like">
            <ul>
                <span class="like_day">Today</span>
                <div class="like_list_container">
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 1</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 2</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                    <li class="like_element">
                        <div class="like_img"></div>
                        <div class="like_text">좋아요 3</div>
                    </li>
                </div>
            </ul>


            <!-- <div class="content_like">
                <span>Today</span>
                <div class="like_list">
                    <div class="like_element">

                    </div>
                </div>
                <div class="like_list">
                    <div class="like_element">

                    </div>
                </div>
                <div class="like_list">
                    <div class="like_element">

                    </div>
                </div>
                <div class="like_list">
                    <div class="like_element">

                    </div>
                </div>
            </div> -->

        </div>
        <!-- <div class="bottom actions2">
            <a href="#" class="dislike"></i><i class="fas fa-times w"></i></a>
            <a href="#" class="like"> <i class="fas fa-heart"></i></a>


        </div> -->
        <!-- <div class="bottom actions">
            <a href="#" class="dislike"></i><i class="fas fa-times"></i></a>
            <a href="#" class="like"> <i class="fas fa-heart"></i></a>
        </div> -->
    </div>
<script>
$(".left-button").on("click", function() {
  $.mobile.changePage("/swipe/", {
    transition: "slide",
    reverse: true,
    type: "get"
  });
});
</script>

</body>
{% endblock %}