{% extends 'mainapp/comtwo.html' %}
{% block content %}  

<div data-role="page">
  <div class="container">
    <!-- header -->
    <header class="hd">
      <div class="left-button"></div>
      <div class="center-button"></div>
      <div class="right-button" id="right">
        <i class="fas fa-stroopwafel"></i>
      </div>
    </header>

    <div class="content_mypage">
      {% if request.session.user_id %}
      {{ request.session.user_id}}님 반갑습니다.
      {% endif %}
      <div class="row" id="list"></div>
    </div>
  </div>



  <script>
  $("#right").on("click", function() {
    $.mobile.changePage("/swipe/", {
      allowSamePageTransition : true,
      transition: "slide",
      type: "get",
      showLoadMsg: false,
      reloadPage: true
    });
  });
  </script>
</div>
{% endblock %}