{% extends 'mainapp/comtwo.html' %}
{% block content %}  
<body>
    <!-- <div class="curtain"></div> -->
    <div class="container">
        <header class="hd">
            <div class="left-button">
                <i class="fas fa-portrait"></i>
            </div>
            <div class="center-button">
                <i class="fas fa-stroopwafel"></i>
            </div>
            <div class="right-button">
                <i class="fas fa-utensils"></i>
            </div>
        </header>

        <div class="content">
            <!-- start jtinder container -->
            <div id="tinderslide">
                <ul>
                    <li class="pane1">
                        <div class="img">
                        <div>Miami Beach</div>
                        <div class="like"></div>
                        <div class="dislike"></div>
                    </li>
                    <li class="pane2">
                        <div class="img"></div>
                        <div>San Francisco</div>
                        <div class="like"></div>
                        <div class="dislike"></div>
                    </li>
                    <li class="pane3">
                        <div class="img"></div>
                        <div>Chicago</div>
                        <div class="like"></div>
                        <div class="dislike"></div>
                    </li>
                    <li class="pane5">
                        <div class="img"></div>
                        <div>Beach</div>
                        <div class="like"></div>
                        <div class="dislike"></div>
                    </li>
                </ul>
            </div>
            <!-- end jtinder container -->
            <!-- <img class="case1" src="http://placehold.it/400x800/afdr2" alt=""> -->
        </div>
        <!-- <div class="bottom actions2">
            <a href="#" class="dislike"></i><i class="fas fa-times w"></i></a>
            <a href="#" class="like"> <i class="fas fa-heart"></i></a>


        </div> -->
        <div class="bottom actions">
            <a href="#" class="dislike"></i><i class="fas fa-times"></i></a>
            <a href="#" class="like"> <i class="fas fa-heart"></i></a>
        </div>
    </div>

<script>

$(".right-button").click(function() {
  $.mobile.changePage("/swipe/like/", {
    transition: "slide",
    type: "get"
  });
});

$(".left-button").click(function() {
  $.mobile.changePage("/swipe/mypage/", {
    transition: "slide",
    reverse: true,
    type: "get"
  });
});

$(".center-button").click(function() {
  $.mobile.changePage("/swipe/", {
    transition: "fade",
    reloadPage: true,
    type: "get"
  });
});

</script>

</body>
{% endblock %}
