{% extends 'mainapp/comtwo.html' %}
{% block content%}
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="container text-center navbar-brand js-scroll-trigger" href="/swipe">SWIPE</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                </li>
            </ul>
        </div>
    </div>
</nav>
<link rel="stylesheet" type="text/css" href="/static/mainapp/css/jTinder.css">
<style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }

    ul,
    li {
        list-style: none;
    }

    img {
        border: 0;
    }

    #sliderWrap li {
        display: none;
        width: 90%;
        margin: 5px auto;
    }

    #sliderWrap li:first-child {
        display: block;
    }

    #sliderWrap li img {
        width: 100%;
    }

    .arrowBox a {
        display: block;
        width: 46px;
        height: 46px;
        background: url(/static/mainapp/img/swipe/arrow-btn.png) no-repeat;
        text-indent: -999px;
    }

    .arrowBox a:last-child {
        background-position: 0 0;
    }

    .arrowBox a:first-child {
        background-position: -46px 0;
        float: right;
    }
</style>

<div class="jumbotron">
    <div class="container">
        <br><br><br>

        <!-- start padding container -->
        <div class="wrap">
            <!-- start jtinder container -->
            <div id="tinderslide">
                <ul id=swipe10>
                    
                </ul>
            </div>
            <!-- end jtinder container -->
        </div>
        <!-- end padding container -->

        <!-- jTinder trigger by buttons  -->
        <div class="actions">
            <a href="#" class="dislike"><i></i></a>
            <a href="#" class="like"><i></i></a>
        </div>

        <!-- jTinder status text  -->
        <div id="status"></div>


    </div> <!-- container -->
</div> <!-- jumbotron -->

<script>
    navigator.geolocation
        .getCurrentPosition(function (pos) {
            latitude = pos.coords.latitude;
            longitude = pos.coords.longitude;
            // alert(" your location : " + latitude + ", " + longitude);
            $
                .ajax({
                    url: '/swipe/recognition/',
                    type: 'GET',
                    data: {
                        "latitude": latitude,
                        "longitude": longitude
                    },
                    success: function (res) {

                        var html = "";
                        var shtml = "";

                        for (var i = 0; i < 20; i++) {
                            html += '<li class="pane1"><img src= "'
                            html += res[i].fields.r_img
                            html += '" width="100%" height="90%"><div>'
                            html += res[i].fields.r_name
                            html += '</div>'
                            html += '<div class="like"></div>'
                            html += '<div class="dislike"></div></li>'

                            console.log(res[i].fields.r_img, res[i].fields.r_name)
                        }//for
                        $('#swipe10').append(html);
                        Init();
                    }//success

                });//ajax
        });
        //navigator 자기위치 요청하는 함수
</script>


{% endblock%}

<!-- <li class = "pane1">
                <img src= "{{restaurant.r_img}}" width="100%" height="90%">
                <div>{{restaurant.id}}</div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li> -->

<!-- <li class="pane1">
                <div class="img"></div>
                <div>Miami Beach</div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li>
             -->

<!-- smuf -->
<!-- <div id="swipe" style="width: 100%; height: 40%; margin: 0 auto;">
            <div id="sliderWrap">
                <ul>
                    <li><img src="/static/mainapp/img/swipe/s1.jpg" alt="" /></li>
                    <li><img src="/static/mainapp/img/swipe/s2.jpg" alt="" /></li>
                    <li><img src="/static/mainapp/img/swipe/s3.jpg" alt="" /></li>
                    <li><img src="/static/mainapp/img/swipe/s4.jpg" alt="" /></li>
                    <li><img src="/static/mainapp/img/swipe/s5.jpg" alt="" /></li>
                    <li><img src="/static/mainapp/img/swipe/s6.jpg" alt="" /></li>
                    <li><img src="/static/mainapp/img/swipe/s7.jpg" alt="" /></li>
                </ul>
            </div>
            <div class="arrowBox">
                <a href="#">다음</a>
                <a href="#">이전</a>
            </div>
        </div> -->

<!-- <script>
    window.onload = function () {
        var sliderWrap = document.getElementById('sliderWrap');
        sliderObj = new Swipe(sliderWrap);
        $('.arrowBox a').eq(0).click(function () {
            sliderObj.next();
        })
        $('.arrowBox a').eq(1).click(function () {
            sliderObj.prev();
        })

        isClick = false;

        $(document).on('mousedown', '#sliderWrap img', function(e) {
            console.log('down', e.pageX, e.pageY);
        })
        $(document).on('mouseup', '#sliderWrap img', function(e) {
            console.log(e.pageX, e.pageY);
        })
    }
</script> -->