{% extends 'mainapp/comtwo.html' %}
{% block content %}  
<div data-role="page">
    <div class="container">
        <header class="hd">
            <div class="left-button">
                <i class="fas fa-portrait"></i>
            </div>
            <div class="center-button">
                <i class="fas fa-stroopwafel"></i>
            </div>
            <div class="right-button">
                <i class="fas fa-utensils"></i>
            </div>
        </header>

        <div class="content_swipe">
            <!-- start jtinder container -->
            <div id="tinderslide">
                <ul id=swipe10>

                </ul>
            </div>
            <!-- end jtinder container -->
            <!-- <img class="case1" src="http://placehold.it/400x800/afdr2" alt=""> -->
        </div>
               <div class="bottom actions">
            <a href="#" class="dislike"></i><i class="fas fa-times"></i></a>
            <a href="#" class="like"> <i class="fas fa-heart"></i></a>
        </div>
    </div>

<!-- jTinder -->
<script type="text/javascript" src="/static/mainapp/js/jquery.transform2d.js"></script>
<!-- jTinder lib -->
<script type="text/javascript" src="/static/mainapp/js/jquery.jTinder.js"></script>
<script type="text/javascript" src="/static/mainapp/js/main.js"></script>

<script>
// button direction
$(".right-button").on("click", function() {
  $.mobile.changePage("/swipe/like/", {
    allowSamePageTransition : true,
    transition: "slide",
    type: "get",
    showLoadMsg: false,
    reloadPage: true
  });
});


$(".left-button").on("click", function() {
  $.mobile.changePage("/swipe/mypage/", {
    allowSamePageTransition : true,
    transition: "slide",
    reverse: true,
    type: "get",
    showLoadMsg: false,
    reloadPage: true
  });
});


$(".center-button").on("click", function() {
  $.mobile.changePage("/swipe/", {
    allowSamePageTransition : true,
    transition: "fade",
    type: "get",
    showLoadMsg: false,
    reloadPage: true
  });
});

// 위치요청
navigator.geolocation
    .getCurrentPosition(function (pos) {
        latitude = pos.coords.latitude;
        longitude = pos.coords.longitude;
        // alert(" your location : " + latitude + ", " + longitude);
        $
            .ajax({
                url: '/swipe/recognition/',
                type: 'GET',
                data: {
                    "latitude": latitude,
                    "longitude": longitude 
                },
                success: function (res) {

                    var html = "";
                    var shtml = "";

                    for (var i = 0; i < 20; i++) {
                        html += '<li class="pane1" pk = "'+res[i].pk+'"><img src= "'
                        html += res[i].fields.r_img
                        html += '" width="100%" height="90%"><div>'
                        html += res[i].fields.r_name
                        html += '</div>'
                        html += '<div class="like"></div>'
                        html += '<div class="dislike"></div></li>'

                        console.log(res[i].fields.r_img, res[i].fields.r_name)
                    }//for
                    $('#swipe10').append(html);
                    Init();
                }//success

            });//ajax

    });
    //navigator 자기위치 요청하는 함수
</script>


</div>
{% endblock %}
